SERVICE_API_KEY=SAME-AS-OTHER-APPS
HTTP_PORT=8916
SOCIAL_API_URL=http://myarea_social_web:5000
GEOZONES_API_URL=http://geozones_web:5000
POSITIVE_API_URL=http://positive_engine:8000
CRIMEWARS_API_URL=http://myarea_games_web:5000
